.ratings-table {
    border: 1px solid #dee2e6;
}

    .ratings-table th,
    .ratings-table td {
        vertical-align: middle;
        text-align: center;
    }

.btn-group .btn {
    margin-right: 5px;
}

    .btn-group .btn:last-child {
        margin-right: 0;
    }
